# exclus les fichiers sans extensions
*
!/**/
!*.*

# exclus les fichiers *.o (fichier de compilation)
*.o

# force l'intégration du makefile dans git
!Makefile

# ignore le dossier vscode
.vscode

# ignore les .exe
*.exe

# Ignore les fichiers EXCEL
*.csv
*.xlsx

# exclus le dossier de documentation
doxygen

# enlève les fichiers dump en cas d'erreur
*.stackdump

# inclus la config de Doxygen
!configDoxygen

# on ignore le main.c car dans le cadre du projet, ce fichier sert seulement à
# test des fonctionnalités de la lib.
# il ne servira pas en prod
main.c